@page
@model OmegaStore_server.Pages_AccountManager.EditModel

@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit</h1>

<form method="post">
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.Id" />
            <input type="hidden" asp-for="Account.Purchases" />
            <div class="form-group">
                <label asp-for="Account.AccountName" class="control-label"></label>
                <input asp-for="Account.AccountName" class="form-control" />
                <span asp-validation-for="Account.AccountName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <br>
            <div style="display: flex; flex-direction: column;">
                <label asp-for="Account.Role" class="control-label"></label>
                <select asp-for="Account.Role" class="form-control">
                    <option value="false">Customer</option>
                    <option value="true">Admin</option>
                </select>
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.Deletable" />
                    @Html.DisplayNameFor(model => model.Account.Deletable)
                </label>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Account.CreatedDate" class="control-label"></label>
                <input asp-for="Account.CreatedDate" class="form-control" />
                <span asp-validation-for="Account.CreatedDate" class="text-danger"></span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <h4>AccountInfo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountInfo.Id" />
            <div class="form-group">
                <label asp-for="AccountInfo.FirstName" class="control-label"></label>
                <input asp-for="AccountInfo.FirstName" class="form-control" />
                <span asp-validation-for="AccountInfo.FirstName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.LastName" class="control-label"></label>
                <input asp-for="AccountInfo.LastName" class="form-control" />
                <span asp-validation-for="AccountInfo.LastName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.AvatarImage" class="control-label"></label>
                <input asp-for="AccountInfo.AvatarImage" class="form-control" />
                <span asp-validation-for="AccountInfo.AvatarImage" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.Email" class="control-label"></label>
                <input asp-for="AccountInfo.Email" class="form-control" />
                <span asp-validation-for="AccountInfo.Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.PhoneNumber" class="control-label"></label>
                <input asp-for="AccountInfo.PhoneNumber" class="form-control" />
                <span asp-validation-for="AccountInfo.PhoneNumber" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.Gender" class="control-label"></label>
                <select asp-for="AccountInfo.Gender" class="form-control select2"
                    asp-items="@ValueList.SelectGenderList"></select>
                <span asp-validation-for="AccountInfo.Gender" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.Nation" class="control-label"></label>
                <select asp-for="AccountInfo.Nation" class="form-control select2"
                    asp-items="@ValueList.SelectNationList"></select>
                <span asp-validation-for="AccountInfo.Nation" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.BirthDate" class="control-label"></label>
                <input asp-for="AccountInfo.BirthDate" class="form-control" />
                <span asp-validation-for="AccountInfo.BirthDate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AccountInfo.AccountId" class="control-label"></label>
                <input asp-for="AccountInfo.AccountId" class="form-control" value="@Model.AccountInfo.AccountId"
                    readonly />
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<br>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @await Html.PartialAsync("~/Assets/Scripts/Select2Script.cshtml")
}