<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Database Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OmegaStore_server.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <a class="nav-link" style="background-color: black;" href="/Index">
            <h3 style="color: white;">Database Manager</h3>
        </a>
    </header>
    <div style="display: flex; flex-direction: row;">
        <ul class="navbar-nav flex-grow-1"
            style="background-color: darkgray; width: fit-content; padding: 10px; flex-direction: column;">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/AccountManager/Index">Account Manager</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/ProductManager/Index">Product Manager</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/CategoryManager/Index">Category Manager</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/ManufacturerManager/Index">Manufacturer Manager</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/PurchaseManager/Index">Purchase Manager</a>
            </li>
        </ul>
        <div style="flex-grow: 1;"></div>
        <div class="container" style="flex-grow: 1;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>